.nav {
  grid-area: NavShop;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;


}


.NavBar {
  margin-right: 22px;
  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
  color: #CCCCCC;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;

}

.NavBar_last {
  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
  color: #CCCCCC;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}


.btn {
  letter-spacing: 0;

}

.btn:hover,
.btn:active {
  color: #0828B6;

}

.btn:after,
.btn:before {
  backface-visibility: hidden;
  bottom: auto;
  content: " ";
  display: block;
  margin-top: 16px;
  margin-bottom: 8px;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn:hover:after,
.btn:hover:before {
  backface-visibility: hidden;

  transition: width 350ms ease-in-out;
  width: 95%;

}

.btn:hover:before {
  top: 0;
  bottom: 0;
  width: 95%;

}