.catalog__col {
    grid-area: FrutOne;
    /*width: 474px;*/
    /*height: 550px;*/
    width: 313px;
    height: 460px;
    background: #FCFCFC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    
    transition: all 0.6s ease-in-out;
}



.img {
    border-radius: 18px;
    width: 100%;
    height: 259px;
}

.text {
    padding-top: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 23px;
    color: #131313;
}

.text_two {
    padding-top: 20px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
}

.text_three {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.btn {
    width: 180px;
    height: 40px;
    background: #555555;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn_card {
    width: 50px;
    float: right;
    margin-right: 20px;
    margin-top: 30px;
    cursor: pointer;
    
}

.btn_card_main {
    margin: 0 auto;
}

.header_text {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #131313;
}

.header {
    grid-area: A;
    margin-top: 80px;
}

@media (max-width: 1440px) {
    .header {
        margin-top: 80px;
    }

    .header_text {
        font-size: 30px;
    }

}


.section {
  margin: 60px 0 /* внешние отступы для блока - сверху и снизу по 60px, слева и справа по 0px */;
}
.container {

  margin: 0 auto /* расположение контейнера по центру */;
  padding: 0 8px /* внутренние отступы слева и справа по 30px, верхний и нижний отступы по 0px */;
}
.catalog__flex {
  display: flex /* по умолчанию дочерние блоки(.catalog__col) будут располагаться в ряд */;
  flex-wrap: wrap /* дочерние блоки переносятся на следующую строку, если ширина всех внутренних блоков превышает ширину родительского блока(.catalog__flex) */;
  margin: 0 -16px   /* Отрицательные внешние отступы(значения противоположные значениям padding блока .catalog__col), чтобы компенсировать внутренние отступы дочерних блоков(.catalog__col), НЕ ДОЛЖЕН превышать боковых значений padding блока .container*/;
}
.catalog__col {
  padding: 0 0 30px /* Размер внутренних отступов блока - справа и слева по 15px(которые дают общий отступ 30px между блоками) и снизу отступ 30px */;
}

.catalog__col:nth-child(1) {
    margin: 0 18px 0px;
}

.catalog__col:nth-child(2) {
    margin: 0 11px;
}

.catalog__col:nth-child(3) {
    margin: 0 14px;
}

.catalog__col:nth-child(4) {
    margin: 0 18px;
}

.catalog__col:nth-child(5) {
    margin: 0 11px;
}

.catalog__col:nth-child(6) {
    margin: 0 14px;
}

/* Адаптивность */

@media (max-width: 1024px) {
    .btn_card {
        margin-top: 10px;
    }
  
  

  .img {
      
      height: 330px;
  }

  .catalog__col {
      height: 600px;
  }

  .text {
    padding-top: 50px;
}

.text_two {
    padding-top: 30px;
}

.text_three {
    padding-top: 40px;
}

.catalog__col:nth-child(1) {
    margin: 0 18px 0px;
}

.catalog__col:nth-child(2) {
    margin: 0 11px;
}

.catalog__col:nth-child(3) {
    margin: 0 18px 0px;
}

.catalog__col:nth-child(4) {
    margin: 0 11px;
}

.catalog__col:nth-child(5) {
    margin: 0 18px;
}

.catalog__col:nth-child(6) {
    margin: 0 11px;
}


}

@media (max-width: 882px) {
    .catalog__col {
      
      height: 550px;
    }
  
    .img {
      height: 300px;
      }

      .btn_card {
        margin-top: 35px;
    }
  }

  




@media (max-width: 768px) {
  .catalog__col {
    
    height: 500px;
  }

  .img {
    height: 300px;
    }
}

@media (max-width: 600px) {
    .btn_card {
        margin-top: 35px;
    }
    
    
  
    .img {
      height: 250px;
      }
  }

@media (max-width: 480px) {
    .catalog__col {
      
      margin: 0 auto 30px auto ;
    }
  
    .img {
      height: 250px;
      }

      .catalog__col:nth-child(1) {
        margin: 0 auto 0px auto ;
    }
    
    .catalog__col:nth-child(2) {
        margin: 0 auto 0px auto ;
    }
    
    .catalog__col:nth-child(3) {
        margin: 0 auto 0px auto ;
    }
    
    .catalog__col:nth-child(4) {
        margin: 0 auto 0px auto ;
    }
    
    .catalog__col:nth-child(5) {
        margin: 0 auto 0px auto ;
    }
    
    .catalog__col:nth-child(6) {
        margin: 0 auto 0px auto ;
    }
}