.ShopHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding-top: 120px;
}

.img_shop {
  display: flex;
  justify-content: center;
  width: 100%;
  background: whitesmoke;
  border-radius: 18px;
}