.Advantages {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 60px 20px;
    grid-template-areas:
    "A A A A"
    "One Two Three Four";
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}