.sub_form {
    grid-area: SubForm;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.form_one {
    width: 391px;
    height: 36px;
    border: 2px solid #555555;
    box-sizing: border-box;
    border-radius: 10px;
}

.form_two {
    width: 123px;
    height: 36px;
    background: #004A30;
    
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;

    /* #fff */

    color: #FFFFFF;
}

@media (max-width: 600px) {

    .form_one {
        width: 240px;
    }

  }