.ShopFood {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    "c n"
    "nb w";
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
 
  

}

.ShopFoodHeader {
  display: flex;
  justify-content: space-between;
  transition: align-items .2s;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  
}


@media (max-width: 1024px) {
  .ShopFoodHeader {
    padding-left: 29px;
    padding-right: 25px;
 }
}

@media (max-width: 764px) {
  .ShopFoodHeader {
    padding-left: 30px;
    padding-right: 25px;
 }
}

@media (max-width: 600px) {
  .ShopFoodHeader {
    padding-left: 30px;
    padding-right: 25px;
 }
}


