.swiper {
    width: 327px;
    height: 450px;
    border-radius: 18px;

}

.General {
    grid-area: w;
    border-radius: 18px;
    margin-top: 111px;
    margin-left: 100px;
    justify-self: center;
}




.mySwiper {
    justify-self: end;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

}

.swiper-slide:nth-child(1n) {
    background-color: #FCFCFC;
    background-image: url("/src/Components/HeaderMain/img/slide.jpg");
    background-repeat: no-repeat;
}

.button_slide1 {
    cursor: pointer;
    width: 151px;
    height: 38px;
    margin-top: 280px;
}

.swiper-slide:nth-child(2n) {
    background-color: #FCFCFC;
    background-image: url("/src/Components/HeaderMain/img/strawberry.jpg");
    background-repeat: no-repeat;
}

.swiper-slide:nth-child(3n) {
    background-color: #FCFCFC ;
    background-image: url("/src/Components/HeaderMain/img/Limon.jpg");
    background-repeat: no-repeat;
}

.swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
}

@media (max-width: 1440px) {
    .swiper {
        width: 250px;
        height: 400px;
        justify-content: center;
    }

    .General {
        justify-self: center;
    }

    .swiper-slide:nth-child(1n) {
        background-size: 250px;
    }

}
