.ContactUP {
  grid-area: UpShop;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.img {
  display: flex;
  width: 20px;
  margin-right: 8px;
  justify-self: end;
  margin-left: auto;
}
