.gallery_main {
  padding-top: 90px;
}

.gallery {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./img/gallery.svg");
  background-repeat: no-repeat;
  background-size: auto;

}

.gallery_text {
  padding-top: 93px;
  padding-bottom: 93px ;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;


}