.ContactInfo {
    grid-area: ContactIn;
    max-width: 400px;
    padding-top: 75px;


}

.ContactInfo_main {
    display: flex;
    justify-content: center;
}

.text {
    width: 100%;
    padding-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #131313;
}

.text:nth-child(7n) {
    padding-top: 30px;
}

.address {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #131313;
}

.phone {
    width: 100%;
    padding-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #131313;
}

.e_mail {
    width: 100%;
    padding-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #131313;
}


@media (max-width: 600px) {
    
    
  }
