.text {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #131313;
    font-weight: bold;
}

.text_two {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #333333;
    font-weight: bold;
}

.SubText {
    grid-area: SubText;
    margin-top: 50px;
}