.freshText {
    grid-area: FreshText;
    margin-top: auto;
    margin-bottom: auto;
}

.text {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #131313;
}

.text_two {
    margin-bottom: 25px;
    width: 511px;
    height: 79px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #333333;
}

.btn {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 173px;
    height: 41px;
    background: #004A30;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #FFFFFF;
}

@media (max-width: 1440px) {
    .freshText {


    }

}