.HeaderMain {
    grid-area: ContactMainMenu;
    width: 370px;
    margin-top: 50px;
}

.nav {
    width: 79px;
    height: 220px;
}

.header {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    text-transform: uppercase;
    color: #CCCCCC;
}


.NavBar {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #AAAAAA;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;

}


.btn {
    letter-spacing: 0;

}

.btn:hover,
.btn:active {
    letter-spacing: 5px;

}

.btn:after,
.btn:before {
    backface-visibility: hidden;
    border: 1px solid #131313;;
    bottom: auto;
    content: " ";
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn:hover:after,
.btn:hover:before {
    backface-visibility: hidden;
    border-color: #0828B6;
    transition: width 350ms ease-in-out;
    width: 100%;

}

.btn:hover:before {
    top: 0;
    bottom: 0;
    width: 100%;

}

@media (max-width: 1440px) {
    .NavBar {
        margin-right: 20px;
        margin-top: 10px;
        font-size: 15px;
        line-height: 14px;
        font-weight: bold;
    }

}