.img {
    width: 550px;
    height: 893px;

}

@media (max-width: 1440px) {
    .img {
        width: 431px;
        height: 700px;
    }

}

.header {
    grid-area: h;
    display: flex;
    justify-content: end;
}