.ContactUS {
    
    
}


.ContactUS_one {
    display: flex;
    
    justify-content: space-between;
    grid-template-columns: 490px 490px;
    grid-template-rows: 0.1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "ContactIn ContactForm";
    margin-top: 50px;
    height: 607px;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;

}


@media (max-width: 1024px) {
    .ContactUS {
        display: flex;
        justify-content: center;
        margin-bottom: 200px;
        margin-left: auto;
    }
    
    .ContactUS_one {
      display: inline-block;
      justify-content: center;
    
   }
  }


