#myModal {
	width: 450px; height: 218px;
  margin: 0 auto;
  padding: 18px 9px;
	border-radius: 4px;
	position: fixed;
	top: 0;	left: 0; right: 0; bottom: 0;
  margin: auto;
	display: none;
	opacity: 0;
	z-index: 38;
  text-align: center;
  bottom: 460px;
}
#myModal #myModal__close {
	width: 21px; height: 21px;
	position: absolute;
	top: 1px;	right: 11px;
	cursor: pointer;
	display: block;
  font-size: 29px;
  
}
#myOverlay {
   
	z-index: 37;
	position: fixed;
	background-color: rgba(0,0,0,.7);
	width: 100%; height: 100%;
	top: 0; left: 0;
	// cursor :pointer;
	display :none;
}

.myLinkModal {
   padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
  padding-top: 6px;
  
}

.myLinkModal_img {
   width: 30px;
   fill: red;
   padding-bottom: 28px;
}


*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
  

}

.container-login:after {
   content: "";
   display: table;
   clear: both;
}

.container-login {
   margin: 0 auto;
   width: 100%;
   max-width: 960px;
   padding: 0 15px;
}

.menu {
   float: right;
}
.menu li {
   display: inline-block;
}

.burger_login {
   display: none;
}

.menu-li:not(:last-child) {
   margin-right: 30px;
}

.menu-li {
   padding-top: 17px;
}

.menu-li.sticky {
   padding-top: 10px;
   
}



 





@media (max-width: 1050px) {
   .myLinkModal_img {
      width: 40px;
   }

   .menu-li:not(:last-child) {
      margin-right: 0px;
   }
   
   .menu-li:nth-child(5) {
      padding-right: 17px;
   }

   
   .burger_login {
      display: block;
      width: 50px;
      margin-top: 20px;
      transition: all 0.7s ease;
   }

   .burger_login.sticky {
      width: 40px;
      margin-top: 15px;
      transition: all 0.7s ease;
   }
  

   .menu {
      max-height: 0;
      background: white;
      float: none;
      position: absolute;
      overflow: hidden;
      
      right: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: 3;
   }

   .menu_main {
      display: flex;
      justify-content: center;
   }

   #menu_login {
      top: 85px;
      
   }

   #menu_login_sticky {
      top: 70px;
      
   }
   

   .menu li {
      display: block;
      text-align: center;
      border-bottom: 1px solid #EBEBE3;
      margin-right: 0;
   }

   .active {
      
      
   max-height: 450px;
 
}
   
}

@media (max-width: 480px) {

   

   

  
}