.nav {
  grid-area: n;
  display: flex;
  justify-content: center;


}


.NavBar {
  margin-right: 22px;
  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;

}

.NavBar_last {
  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}


.btn {
  letter-spacing: 0;

}

.btn:hover,
.btn:active {
  color: #0828B6;

}

.btn:after,
.btn:before {
  backface-visibility: hidden;
  bottom: auto;
  content: " ";
  display: block;
  margin-top: 16px;
  margin-bottom: 8px;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn:hover:after,
.btn:hover:before {
  backface-visibility: hidden;

  transition: width 350ms ease-in-out;
  width: 95%;

}

.btn:hover:before {
  top: 0;
  bottom: 0;
  width: 95%;

}

.popup-open {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup {
	position: fixed;
	top: 10%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	
	border-radius: 4px; 
	z-index: 20000;
	opacity: 1;	
}
.popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
}

@media (max-width: 1024px) {
  .NavBar {
    color: black;
  }

  .nav {
    grid-area: n;
    display: flex;
    justify-content: center;
  
  
  }
  
  
  .NavBar {
    margin-right: 22px;
    font-size: 16px;
    line-height: 14px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    box-sizing: inherit;
    transition-property: none;
    transition-duration: .6s;
    transition-timing-function: ease;
  
  }
  
  .NavBar_last {
    font-size: 16px;
    line-height: 14px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    box-sizing: inherit;
    transition-property: none;
    transition-duration: .6s;
    transition-timing-function: ease;
  }
  
  
  .btn {
    letter-spacing: 0;
  
  }
  
  .btn:hover,
  .btn:active {
    color: #0828B6;
  
  }
  
  .btn:after,
  .btn:before {
    backface-visibility: hidden;
    bottom: auto;
    content: " ";
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    transition: none;
    width: 0;
  }
  
  .btn:hover:after,
  .btn:hover:before {
    backface-visibility: hidden;
  
    transition: none;
    width: 95%;
  
  }

}


