#myModal {
	width: 450px; height: 218px;
  margin: 0 auto;
  padding: 18px 9px;
	border-radius: 4px;
	position: fixed;
	top: 0;	left: 0; right: 0; bottom: 0;
  margin: auto;
	display: none;
	opacity: 0;
	z-index: 38;
  text-align: center;
  bottom: 460px;
}
#myModal #myModal__close {
	width: 21px; height: 21px;
	position: absolute;
	top: 1px;	right: 11px;
	cursor: pointer;
	display: block;
  font-size: 29px;
  
}
#myOverlay {
   
	z-index: 37;
	position: fixed;
	background-color: rgba(0,0,0,.7);
	width: 100%; height: 100%;
	top: 0; left: 0;
	// cursor :pointer;
	display :none;
}

.myLinkModal {
   padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
  padding-top: 6px;
  
}

.myLinkModal_img {
   width: 35px;
}


 