.fresh {
    grid-area: FreshImg;
    margin-right: 40px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.freshImg {
    width: 100%;
    height: 100%;
   
    border-radius: 18px;

}

