.CardTwo {
    grid-area: Two;
    width: 350px;
    height: 320px;
    background: #FCFCFC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    justify-self: end;
}

.img {
    display: flex;
    margin: auto;
}