.CardTwo {
    grid-area: Two;
    width: 350px;
    height: 320px;
    background: #FCFCFC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    justify-self: end;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.CardTwo:hover {
    transform: translateY(-25px);
}


.img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.text {
    padding-top: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.text_two {
    padding-top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #333333;
}