.ShopFood_main {
  
}

.ShopFood {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

@media (max-width: 1024px) {
  .ShopFood {
    padding-left: 20px;
    padding-right: 50px;
 }
}

@media (max-width: 764px) {
  .ShopFood {
    padding-left: 20px;
    padding-right: 50px;
 }
}

// .ShopFoodHeader {
//   display: flex;
  
//   transition: align-items .2s;
//   max-width: 980px;
//   margin-left: auto;
//   margin-right: auto;
// }
