.header_text {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #131313;
    transition: all 0.6s ease-in-out;
}

.header {
    grid-area: A;
    margin-top: 150px;
}

@media (max-width: 1440px) {
    .header_text {
        font-size: 28px;
        line-height: 42px;
    }

    .header {
        margin-top: 150px;
    }

}

