.header {
    display: flex;
    justify-content: start;

}

.img {
    width: 320px;
    height: 430px;


}

@media (max-width: 1440px) {
    .img {

    }

}

.header {
    grid-area: h;
    display: flex;
    justify-content: start;
}