.mom {
    background: WhiteSmoke;
}

.ShopFood {
    display: grid;
    grid-template-columns: 1fr 0.45fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "n n c h"
    "w w nb h";
}

.Advantages {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 60px 20px;
    grid-template-areas:
    "A A A A"
    "One Two Three Four";
}

.Catalog {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 30px 20px;
    grid-template-areas:
    "A A A"
    "FrutOne FrutTwo FrutThree"
    "FrutFour FrutFive FrutSix"
    "FrutSeven FrutEight FrutNine"
    "btn btn btn";
}

.Fresh {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "FreshImg FreshText";
    margin-top: 80px;
}

.Reviews {

}


*{
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}