.ShopFood {
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: 0.1fr auto;
    gap: 0 0;
    grid-template-areas:
    "n c h"
    "w nb h";

}




*{
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}