.mom {
    background: WhiteSmoke;
}



.ContactUS {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)), url(/src/Components/HomePage/ContactUs/Img/contact.jpg) no-repeat ;
    background-size: auto;
}


.ContactUS_one {
    display: grid;
    justify-self: center;
    justify-content: center;
    grid-template-columns: 490px 490px;
    grid-template-rows: 0.1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "ContactH ContactH"
    "ContactIn ContactForm";
    margin-top: 50px;
    height: 607px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;

}



.ContactUS_two {
    display: flex;
    display: grid;
    justify-content: center;
    height: 395px;
    background: #131313;
}

.ContactUS_coll {
    display: grid;
    grid-template-columns: 307px 306px 306px 62px;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas:
    "ContOrgTextSocial ContactMainMenu ContactUS_Text ContactUP";
    justify-content: center;
    border-bottom: solid;
    border-color: #666666;
    border-bottom-width: 1px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;

}

.ContactAll {
    margin: auto;
}

*{
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}


