.ShopFood {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    gap: 0 0;
    grid-template-areas:
    "n c h"
    ". . h";



}

.header {
    grid-area: h;
    display: flex;
    justify-content: end;
}

.nav {


}

.content {
    grid-area: c;
}

*{
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}