.fresh {
    grid-area: FreshImg;
}

.freshImg {
    height: 800px;
}

@media (max-width: 1440px) {
    .freshImg {
        height: 630px;
    }

}


@media (max-width: 1360px) {
    .freshImg {
        height: 550px;
    }

}