.btn_main {
    grid-area: btn;
    justify-self: center;
    margin-top: 40px;
}

.btn {
    width: 194px;
    height: 46px;
    background: #004A30;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}